.border-bottom-blue {
    border-bottom: 3px solid #35B4BD;
}
.nav-item:hover, .active {
    color: white;
    background: #35B4BD;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
#navbarNav, .navbar-nav{
    height: 80px
}
.img-logo {
    height: 70px
}